body {
	margin:0;
	padding:0;
	font-family: 'Arial', serif;
	background-image: url(images/or.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}

header {
	text-align: center;
	font-size:35px;
}
figure{
color:white;
font-size:smaller;
}

#menu, #menu ul{
padding:1px;
margin:0;
list-style:none;
text-align:center;
}
#menu li{
display:inline-block;
position:relative;
border-radius:5px 5px 5px 5px;
}
#menu ul li{
display:inherit;
border-radius:0;
}
#menu ul li:hover{
border-radius:0;
}
#menu ul li:last-child{
border-radius:0 0 8px 8px;
}
#menu ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu li:hover ul{
max-height:30em;
}

/* BACKGROUND DES LIENS MENUS */

#menu li:first-child{
background-color: black;
}
#menu li:nth-child(2){
background-color: black;
}
#menu li:nth-child(3){
background-color: black;
}
#menu li:nth-child(4){
background-color: black;
}
#menu li:nth-child(5){
background-color: black;
}
#menu li:nth-child(6){
background-color: black;
}
#menu li:nth-child(7){
background-color: black;
}
#menu li:last-child{
background-color: black;
}
/* BACKGROUND DES LIENS SOUS MENUS */
#menu li:first-child li{
background:black;
}
#menu li:nth-child(2) li{
background:black;
}
#menu li:nth-child(3) li{
background:black;
}
#menu li:nth-child(4) li{
background:black;
}
#menu li:nth-child(5) li{
background:black;
}
#menu li:nth-child(6) li{
background:black;
}
#menu li:nth-child(7) li{
background:black;
}
#menu li:last-child li{
background:black;
}
/* BACKGROUND DES LIENS MENUS ET SOUS MENUS EN SURVOLE  */
#menu li:first-child:hover, #menu li:first-child li:hover{
background: #B8860B;
}
#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover{
background: #B8860B;
}
#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover{
background: #B8860B;
}
#menu li:nth-child(4):hover, #menu li:nth-child(4) li:hover{
background: #B8860B;
}
#menu li:nth-child(5):hover, #menu li:nth-child(5) li:hover{
background: #B8860B;
}
#menu li:nth-child(6):hover, #menu li:nth-child(6) li:hover{
background: #B8860B;
}
#menu li:nth-child(7):hover, #menu li:nth-child(7) li:hover{
background: #B8860B;
}
#menu li:last-child:hover, #menu li:last-child li:hover{
background: #B8860B;
}
/* LES A HREF */
#menu a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#B8860B;
font-family:Impact;
}
#menu ul a{
padding:8px 0;
}
#menu li:hover li a{
color:#B8860B;
text-transform:inherit;
}
#menu li:hover a, #menu li li:hover a{
color:white;
}
